/**************************TAG SELECTORS**************************/
/*
color: changes all text color within the body section.
text-align: aligns all text within body section to the center.
font-family: changes all text font
margin: Used to create speace around elements, outside any defined borders.
  4 CSS properties to specify margin for each side of an element.
    - margin-top
    - margin-right
    - margin-bottom
    - margin-left
  All the margin properties can have these values:
    - auto: browser calculates margin
    - length: specifies a margin in px, pt, cm, etc.
    - %: specifies a margin % of the width of the containing element
    - inherit: specifies that the margin should be inherited from the parent element
  EXAMPLE:
    margin: 25px 50px 75px 100px;
    top margin is 25px
    right margin is 50px
    bottom margin is 75px
    left margin is 100px
*/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66bfbf;
  font-size: 593%;
  font-family: 'Sacramento', cursive;
  margin-top: 50px auto 0 auto;

  /*margin: 0 auto 0 auto;
margin top 0 , right 0, bottom 0, left auto
OR write as below..
*/
  /*margin: 0 auto;
 Top & bottom is 0, left & right is auto*/
  /* 100% = 16px
    468% = 75px;
  */
}

  /*
  % or rem or rem is dynamically changing
  The r in rem ignores parent font sizing
  1 em = 16px
  */

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-top: 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #30e3ca;
  font-size: 1.7rem;
}


/*
When you hover over any link, it will change to a white color.
*/
a:hover{
  color: #EAF6F6;
}

/*
This will increase text spacing height for all paragraph text.
*/
p{
  line-height: 2;
}


/*
This makes changes to the horizontal dividers.
border: sets the style of the hr to dotted with a white color and width of 6px.
border-bottom: To get rid of double dotted line. To just a single line of dots.
width: Will change the total width of how many dots appear.
margin: Will give spacing to top and bottom; left and right is auto to center it.
*/
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 3%;
  margin: 100px auto;
}



/**************************CLASS SELECTORS**************************/
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 450px;
}

.headshot{
  padding-top: 40px;
  width: 200px; height: 200;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #fcfefe;
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  margin: 100px 0;
  padding: 50px 0 50px;
}

.pro {
  text-decoration: underline;
}

/*
  This will make text closer together to read easier.
*/
.description{
  width: 28%;
  margin: auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  padding-bottom: 50px;
}

.computer-img{
  width: 25%;
  float: center;
  margin-right: 30px;
  padding-bottom: 150px;
}

.jeffphotographer{
  width: 20%;
  float: right;
}

.copyright{
  color: black;
  font-size: 0.75rem;
  padding: 20px 0;
}
