/**************************TAG SELECTORS**************************/
/*
color: changes all text color within the body section.
text-align: aligns all text within body section to the center.
font-family: changes all text font
margin: Used to create speace around elements, outside any defined borders.
  4 CSS properties to specify margin for each side of an element.
    - margin-top
    - margin-right
    - margin-bottom
    - margin-left
  All the margin properties can have these values:
    - auto: browser calculates margin
    - length: specifies a margin in px, pt, cm, etc.
    - %: specifies a margin % of the width of the containing element
    - inherit: specifies that the margin should be inherited from the parent element
  EXAMPLE:
    margin: 25px 50px 75px 100px;
    top margin is 25px
    right margin is 50px
    bottom margin is 75px
    left margin is 100px
*/
body {
  color: #40514E;
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  /*margin: 0 auto 0 auto;
margin top 0 , right 0, bottom 0, left auto
OR write as below..
*/
  /*margin: 0 auto;
 Top & bottom is 0, left & right is auto*/
  /* 100% = 16px
    468% = 75px;
  */
}

/*
  % or rem or rem is dynamically changing
  The r in rem ignores parent font sizing
  1 em = 16px
  */
h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #30e3ca;
  font-size: 1.7rem;
}

/*
This will increase text spacing height for all paragraph text.
*/
p {
  line-height: 2;
}

/*
This makes changes to the horizontal dividers.
border: sets the style of the hr to dotted with a white color and width of 6px.
border-bottom: To get rid of double dotted line. To just a single line of dots.
width: Will change the total width of how many dots appear.
margin: Will give spacing to top and bottom; left and right is auto to center it.
*/
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.photography-link {
  margin: 0 10px;
}

/*
When you hover over any link, it will change to a white color.
*/
a:hover {
  color: green;
}

/**************************CLASS SELECTORS**************************/
.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  margin: 100px 0 0 0;
  padding: 50px 0 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}

/*
  This is about me description; will make text closer together to read easier.
*/
.description {
  width: 30%;
  margin: 45px auto;
}

.copyright {
  color: black;
  font-size: 0.9rem;
  margin: 20px 0 0 50px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 300px;
}

.headshot {
  padding-top: 40px;
  width: 350px;
  height: 350px;
}

.computer-img {
  width: 30%;
  float: center;
}

.jeffphotographer {
  width: 30%;
  float: center;
}

.footer-img {
  width: 50px;
  height: 50px;
}
